.cabecalho{
    background-color: rgb(21, 88, 171);
    color: #fff;
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.cabecalho h1{
    padding-top: 0.6rem;
}

.cabecalho img{
    height: 4rem;
    padding-right: 10px;
    padding-bottom: 10px;
}


